# /etc/systemd/system/docker.service.d/override.conf
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
After={{ 'unionfs' if (mounts.unionfs|lower) == 'unionfs' else 'mergerfs' }}.service

[Service]
ExecStartPre=/bin/sleep 120
